absl-py==1.2.0
area==1.1.1
attrs==22.1.0
backports.cached-property==1.0.2
beautifulsoup4==4.11.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
check-wheel-contents==0.3.4
click==8.1.3
cycler==0.11.0
distlib==0.3.6
filelock==3.8.0
flatbuffers==20181003210633
fonttools==4.37.1
geojson==2.5.0
idna==3.3
importlib-metadata==4.12.0
inputimeout==1.0.4
install==1.3.5
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.21.4
opencv-contrib-python==4.1.0.25
opencv-python==4.5.3.56
packaging==21.3
pbr==5.10.0
picar-4wd==0.0.1
Pillow==9.2.0
platformdirs==2.5.2
progressbar2==4.0.0
protobuf==3.20.1
psutil==5.9.2
pybind11==2.10.0
pycoral==2.0.0
pycparser==2.21
pydantic==1.10.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-utils==3.3.3
requests==2.28.1
RPi.GPIO==0.7.1
six==1.16.0
smbus==1.1.post2
sounddevice==0.4.5
soupsieve==2.3.2.post1
stevedore==3.5.0
tflite-runtime==2.5.0.post1
tflite-support==0.4.2
tomli==2.0.1
typing_extensions==4.3.0
urllib3==1.26.12
virtualenv==20.16.5
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
websockets==10.3
wheel-filename==1.4.1
zipp==3.8.1
